*{
    margin:0px;
    padding:0px;
    font-family:sans-serif;
    box-sizing:border-box;
    text-decoration:none;
}
header{
    display:flex;  
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    align-items:center;
    gap:40px;
}
.headerLeft{
    display:flex;
    align-items:center;
}
.logo{
    padding:24px 30px;
    border-right:1px solid #ccc;
}
.headerAddress{
    padding:20px 30px;
}
.headerAddress h3{
    font-size:18px;
    margin-bottom:5px;
}
.headerAddress p{
    font-size:14px;
}
.searchBox{
    flex-grow:1;
    border:1px solid #f4f4f4;;
    display:flex;
    border-radius:15px;
    background-color: #f8f8f8;
}
.searchBox input{
    flex-grow:1;
    border:none;
    background-color:transparent; 
}
.searchBox button{
    padding:15px;
    background-color:transparent; 
    border:none;
}
.searchBox input:focus{
    outline:none;
}

.headerBtn{
    display:flex; 
    margin-right: 40px;
    gap:40px;
}
.headerBtn button{
    font-size:16px;
    padding:15px; 
    background-color:transparent;
    border:none; 
}
.headerBtn button:last-child {
    color:white;
    border-radius:5px;
    background-color:rgb(12,131,31);
    font-weight:bold;
}
.bannerSection{
    margin: 0px auto;
    max-width:1280px;
}
.bannerSection img{
    width:100%;
}
.orderBanner{
    display:flex;
    max-width:1280px; 
    margin:auto;
}
.orderBannerItems{
    margin:1%;
    flex-basis:27%;
}
.orderBannerItems img{
    width:100%; 
}

.categorySection{
    max-width:1280px;
    margin:auto;
    display:flex;
    flex-wrap:wrap;
}
.categoryItems{
    flex-basis:10%;  
}
.categoryItems img{
    max-width:100%;
}


.productSection{
    max-width:1280px;
    margin:auto;
    padding:30px 0px 0px 0px;
}


.headingRow{
 display:flex;
 justify-content:space-between;
 align-items:center;
}
.headingRow h2{
    font-size:22px;
}
.headingRow a{
    color:#328839;
    font-size:18px;
}
.productRow{
    width:100%;
    margin:30px 0px 0px 0px;
    display:flex;
    flex-wrap:wrap;
    gap:2%;
}
.productItems{
    flex-basis:15%;
    border:1px solid #ccc;
    box-shadow:0px 0px 10px 2px #ccc;
    box-sizing:border-box; 
    border-radius:15px;
    margin-bottom:20px;
}
.productImg{
    text-align:center;
    padding:15px;
}
.productImg p{
    background-color:#f8f8f8;
    display:flex;
    gap:5px;
    width:60px;
    padding:2px;
    justify-content:center;
    align-items:center;
    text-align:left;
    font-size:12px;
}
.productContent{
    padding:15px;
    padding-top:0px;
}
.productContent h3{
    margin-bottom:15px; 
    font-size:14px;
}
.productContent p{
    font-size:14px;
    color:#848080
}
.btn-price-outer{
    display:flex;
    margin-top:15px;
    justify-content:space-between;
    align-items:center;
}
.btn-price-outer button{
    border:1px solid #328839;
    padding:5px 15px;
    border-radius:10px;
    background-color:#f7fff9;
}

.footer{
    padding:40px 0px 0px 0px;
}
.footer-mid{
    max-width:1280px;
    margin:auto;
}
.footer-mid-row1{
    width:100%;
    display:flex;
    gap:40px;
}
.footer-mid-row1-left{
    flex-basis:30%;
}
.footer-mid-row1-right{
    flex-basis:70%;
}
.footer-mid-row1-left h3{
    margin-bottom:20px;
}
.usefulLinks{
    display:flex;
}
.usefulLinks ul{
    flex-basis:33%;
    list-style:none;
}
.usefulLinks ul li a{
    font-size:14px;
    display:block;
    color:rgb(102,102,102);
    margin-bottom:15px;
}
.footer-mid-row1-right{
    flex-basis:70%; 
}
.CategoriesHeadingRow{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
    gap:15px;
}
.FooterLinks__List{
    display:flex;
    flex-wrap:wrap;
    margin-top:40px;
    list-style:none;
    gap:10px;
    
}
.FooterLinks__List li{
    flex-basis:30%;
}
.FooterLinks__List li a{
    font-size:14px;
    display:block;
    color:rgb(102,102,102);
    margin-bottom:7px;
}
.footer-mid-row3 p{
    padding:20px 0px;
    font-size:14px; 
    color:rgb(102,102,102);
    line-height:20px
}
.footer-mid-row2{
    background-color:#fcfcfc;
    width:100%;
    padding:20px 0px;
    display:flex;
    align-items:center;
}
.footer-mid-row2 p{
    flex-basis:40%;
    text-align:center; 
    font-size:14px;
}
.appIcons{
    display:flex;
    flex-basis:30%;
    align-items:center;
    gap:10px;
}
.socialLinks i{
    width:40px;
    color:white;
    height:40px;
    background-color:#1f1f1f;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
}
.socialLinks{
    display:flex;
    gap:10px;
}